<%- include ("../Partials/header.ejs")%>
<%- include ("../Partials/main_nav.ejs")%>
<h1>Welcome to my Products Page</h1>
<body>
    <img src="/Assets/images/cucumbers.jpg" width="150" height="150">
    <img src="/Assets/images/cherry.jpg" width="150" height="150">
    <img src="/Assets/images/Apples.jpg" width="150" height="150">
    <img src="/Assets/images/Oranges.jpg" width="150" height="150">
        

<%- include ("../Partials/footer.ejs")%>